DATABASE_URL="file:./dev.db"
DEFAULT_ADMIN_EMAIL=krimishay68@gmail.com

STUDENT_SYSTEM_PROMPT_PATH=server/prompts/student.system.en.md
STUDENT_CONFIG_PATH=server/config/student.bot.config.yaml
# STUDENT_CONFIG_JSON_PATH=server/config/student.bot.config.json
